<div class="blade-content">
	<div class="blade-inner">
		<div class="inner-block">
            <div class="table-wrapper" ng-init="setGridOptions('customerOrder-list-grid', {
                 useExternalSorting: true,
                 data: 'objects',
                 rowTemplate: 'order-list.row.html',
                 columnDefs: [

                            { name: 'number', displayName: 'orders.blades.customerOrder-list.labels.number', width: '***', displayAlways: true },
                            { name: 'customerName', displayName: 'orders.blades.customerOrder-list.labels.customer', width: '***' },
                            { name: 'storeId', displayName: 'orders.blades.customerOrder-list.labels.store', width: '**' },
                            { name: 'total', displayName: 'orders.blades.customerOrder-list.labels.total', width: '**' },
                            { name: 'currency', displayName: 'orders.blades.customerOrder-list.labels.currency', width: '*' },
                            { name: 'isApproved', displayName: 'orders.blades.customerOrder-list.labels.confirmed', width: '*', cellClass: '__blue' },
                            { name: 'status', displayName: 'orders.blades.customerOrder-list.labels.status', width: '*' },
                            { name: 'createdDate', displayName: 'orders.blades.customerOrder-list.labels.created', width: '**', cellClass: 'table-date', cellFilter: 'date', sort: { direction: uiGridConstants.DESC } }
                ]})">
                <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-height></div>

            </div>

			<table>
                <tr>
                    <td>createdDate</td>
                    <td>customerName</td>
                    <td>shipments info</td>
                </tr>

                <tr ng-repeat="order in list.results">
                    <td>{{order.createdDate}}</td>
                    <td>{{order.customerName}}</td>
                    <td>
                        {{order.shipments.length}}
                        <p ng-repeat="shipment in order.shipments">
                            Date: {{shipment.shipmentDate}} Status {{shipment.status}}
                        </p>
                    </td>
                </tr>
            </table>
		</div>
	</div>
</div>
<script type="text/ng-template" id="order-list.row.html">
    <div ng-click='grid.appScope.selectNode(row.entity)' ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__hovered': grid.appScope.contextMenuEntity === row.entity, '__selected': row.entity.id===grid.appScope.selectedNodeId}" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell context-menu="grid.appScope.contextMenuEntity = row.entity" data-target="cor_menu"></div>
</script>
<script type="text/ng-template" id="list-actions.cell.html">
    <div class="ui-grid-actions" left-click-menu="grid.appScope.contextMenuEntity = row.entity" data-target="cor_menu">
        <i class="fa context-menu"></i>
    </div>
</script>